<div id="encrypted-content">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <script>
    const decrypt_{{{ id }}} = (password) => {
      const content = "{{{content}}}"
      const decryptedDocument = CryptoJS.AES.decrypt(content, password).toString(CryptoJS.enc.Utf8)
      if (decryptedDocument) {
        document.getElementById("encrypted-content").outerHTML = decryptedDocument
        return true
      } else return false
    }
    const decryptFromForm_{{{ id }}} = () => {
      try {
        const password = document.getElementById("decryption-password-{{{id}}}").value
        const save = document.getElementById("save-password-{{{id}}}").checked
        if (decrypt_{{{id}}}(password) && save) {
          localStorage.setItem("plaf-password", password)
        }
      } catch (error) {
        console.error(error)
      }
    }
  </script>
  This page is password protected.<br />
  <input placeholder="Password" id="decryption-password-{{{id}}}" type="password" onkeyup="onkeyup" />
  <input name="Decrypt" type="submit" onclick="decryptFromForm_{{{id}}}()" value="Decrypt" /><br />
  <input id="save-password-{{{id}}}" type="checkbox" /> Save password
  <script>
    (function() {
      document.getElementById("decryption-password-{{{id}}}").addEventListener("keyup",
        function (e) {
          if (e.keyCode === 13) {
            e.preventDefault()
            decrypt_{{{id}}}()
          }
        })
      const password = localStorage.getItem("plaf-password")
      if (password) {
        decrypt_{{{id}}}(password)
      }
    })()
  </script>
</div>